* {
  word-break: keep-all;
  letter-spacing: -0.01em;
  /*한글은 킵 올을 해야 어절단위로 끊김*/
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; /* 자동으로 높이를 조절 */
  overflow-y: auto; /* 화면 아래로 넘어가도 스크롤 가능 */
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(246, 246, 246);
}

.text {
  
  position: absolute; /* 위치 고정 */
  top: 100px;
  width: 45%;
  height: 100%; /* 화면 전체 크기 */
  text-align: left;
  color: #000000; /* 글자 색상 */
  font-size: 20px; /* 글자 크기 */
  text-align: center; /* 중앙 정렬 */
  line-height: 190%;
  z-index: -1; /* rectangle들보다 뒤에 배치 */
  overflow: hidden; /* 넘치는 글자를 숨김 */
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.5px;  /* 세로 줄의 두께 */
  background-color: #000; /* 세로 줄의 색상 */
}

.line1 {
  left: 20%;
}

.line2 {
  left: 80%;
}

.handle-line {
  position: absolute;
  top: 0;
  height: 70%; /* 화면 높이를 따라 내려오게 설정 */
  width: 1.5px;
  background-color: #000;
  left: 90%;
}

.handle1, .handle2 {
  position: absolute;
  left: 88.75%;
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 10px;
}

.handle1 {
  top: 60%;
}

.handle2 {
  top: 65%;
}

.rectangle {
  transition: margin-bottom 0.3s;
  width: 100%; /* 직사각형의 가로 크기 */
  height: 50px; /* 직사각형의 세로 크기 */
  background-color: #133c58;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.3);
}

.rectangle.clicked {
  margin-bottom: 30px; /* 클릭 시 마진 추가 */
}
